.head
{
    width:100%;
    height:170px;
   background-color: #72c02c; 
   overflow:hidden;
}
.box
{
    width:80%;
    height:170px;
    color:white;
    margin-left:50px;
    
}
.l1
{
    width:60%;
    height:100px;
    margin-top:30px;
    margin-left:60px;
}
.logo
{
    width:180px;
    height:80px;
    margin:40px;
}
.reg 
{
  padding:7px;
    margin-top:20px;
    padding-left: 20px; 
    padding-right: 20px;
    border-radius: 6px;
    color: green;
    border:green;
    background-color: white;
    font-size:14px;
}
.contact
{
    color:solid 2px white;
    height: 10px;
    margin-top:20px;
    
    border:10px;
}
.contact li{
  list-style: none;

} 
.contact ul li{
  display:inline;
  font-size:15px;
  color:white;
  
}

.box ul{
  margin-top: 100px;
 
}
.box ul li {
  display: inline;
  font-size: 20px;
  padding:20px;
  cursor: pointer;
 
}
.box ul li:hover {
  color: black
}