.foot
{
    height:400px;
    background-color:#72c02c;
width:100%;
overflow:hidden;
}
.icons {
    
    color:white;
    padding:20px;
    font-size: 40px;
    margin-top:10px;
    background-color:#72c02c; 
}
.write
{
        color:solid 2px white;
        height: 10px;
        margin-top:20px;
        
        border:10px;
    }
    .write li{
      list-style: none;
    
    } 
    .write ul li{
      display:inline;
      font-size:15px;
      color:white;
      
    }  
.subEmail
{
    width:60% !important;
    height:30px;
    border:solid 2px white;
    color: white;
    background-color:#72c02c; 
    margin-right:10px;
    padding:10px;
    margin-left:40px;
}
.text
{
  font-size: 30px;

  
}
.last
{

    color:solid 2px white;
    height: 10px;
    margin-top:200px;
    margin-left:500px;
    border:10px;
}
.last li{
  list-style: none;

} 
.last ul li{
  display:inline;
  font-size:15px;
  color:white;
  padding:10px;
}
.lastline
{
    color:solid 2px white;
    height: 10px;
    margin-top:230px;
    margin-left:-540px;
    border:10px;
    border-right: 1px solid white;
    
}
.lastline li{
  list-style: none;

} 
.lastline ul li{
  display:inline;
  font-size:15px;
  color:white;
  padding:10px;
  border-right: 2px solid white;
  
}
.rightBroder{
  border-right : 2px solid  #fff;
}